AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
BEDROCK_KNOWLEDGE_BASE_ROLE_ARN=
S3_VECTORS_BUCKET_ARN=
S3_VECTORS_INDEX_ARN=
BEDROCK_EMBEDDING_MODEL_ARN=arn:aws:bedrock:ap-south-1::foundation-model/amazon.titan-embed-text-v2:0
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=